    body {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      margin: 0;
      background-color: #212120;
    }

    .square {
      width: 400px;
      height: 400px;
      padding: 200px;
      background-color: rgb(37, 21, 41);
      border-radius: 20px;
      box-shadow: 5px 5px 15px rgba(255, 255, 255, 0.3);
      color: white;
      display: flex;
      flex-direction: column;
      gap: 10px;
    }

    .square input,
    .square button {
      padding: 10px;
      border: none;
      border-radius: 5px;
      font-size: medium;
      margin-bottom: 10px;
    }

    .square .main {
      font-size: 3rem;
      font-weight: bold;
      text-align: center;
      margin-bottom:  20px;
    }

    .square .main_button:hover {
        background-color: #35133b;
    }
    .square .main_button {
      background-color: #441852;
      color: #ffffff;
      font-weight: bold;
      cursor: pointer;
    }
 
    .square .checkbox {
      width: 1rem;
      height: 1rem;
      align-self: flex-start;
    }

    .square .tos {
      margin: 0;
    }
    
    .links {
      background-color: #35133b;
      color:white;
      font-family:Arial, Helvetica, sans-serif;
      align-self:center;
      text-align: center;
      padding: 1rem;
      margin-left: 17rem;
      font-size: 10px;
      border-radius: 2rem; 
    }