    body {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      margin: 0;
    }

    .square {
      width: 400px;
      height: 400px;
      padding: 200px;
      background-color: rgba(25, 25, 26, 0.37);
      border-radius: 20px;
      box-shadow: 10px 10px 20px rgba(72, 54, 124, 0.3);
      color: white;
      display: flex;
      flex-direction: column;
      gap: 10px;
      border-style: solid;
      border-color: rgba(26, 11, 44, 0.37);
    }

    .square:hover {
      width: 400px;
      height: 400px;
      padding: 200px;
      background-color: rgba(25, 25, 26, 0.37);
      border-radius: 20px;
      box-shadow: 5px 5px 15px rgba(26, 3, 90, 0.3);
      color: white;
      display: flex;
      flex-direction: column;
      gap: 10px;
      border-style: solid;
      border-color: rgba(26, 3, 90, 0.3);
      
    }


    .square input,
    .square button {
      padding: 10px;
      border: none;
      border-radius: 5px;
      font-size: medium;
      margin-bottom: 10px;
    }

    .square .main {
      font-size: 3rem;
      font-weight: bold;
      text-align: center;
      margin-bottom:  20px;
    }

    .square .main_button:hover {
        background-color: #383269;
    }
    .square .main_button {
      background-color: #5c53af;
      color: #ffffff;
      font-weight: bold;
      cursor: pointer;
    }
 
    .square .checkbox {
      width: 1rem;
      height: 1rem;
      align-self: flex-start;
    }

    .square .tos {
      margin: 0;
    }
    
    .links {
      background-color: #5c53af;
      color:white;
      font-family:Arial, Helvetica, sans-serif;
      align-self:center;
      text-align: center;
      padding: 1rem;
      margin-left: 17rem;
      font-size: 10px;
      border-radius: 2rem; 
    }

    .links:hover {
      background-color: #383269;
      color:white;
      font-family:Arial, Helvetica, sans-serif;
      align-self:center;
      text-align: center;
      padding: 1rem;
      margin-left: 17rem;
      font-size: 10px;
      border-radius: 2rem; 
    }

.checkbox-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.checkbox-row label {
  display: flex;
  align-items: center;
  gap: 6px;
  color: white;
  cursor: pointer;
}
